@font-face {
    font-family: 'Montserra';
    src: url('montserrat-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DrukWide';
    src: url('Druk-Wide-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}